.logo {
    width: 75px;
    height: 75px;
    background-size: contain;
    background-repeat: no-repeat;
}

.logo-box {
    width: 500px;
    height: 100px;
    color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-text {
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;
}
