.vdoBox {
    width: 100%;
    height: 80vh;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px) saturate(1.5);
    padding: 5px;
    position: relative;
    color: white;
}
.vdo{
    border-radius: 10px;
    width: 100%;
    text-align: center;
}
